@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* * {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
} */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  background: #201f1f;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
